body{
    margin: 0px;
    background-color: beige;
}
header{
    background-color: seagreen;
    border-bottom: 3px solid;
}
.un{
    display: flex;
    align-items: center;
    color: white;
}
.btm{
    font-size: 35px;
}
.un>div{
    margin: 20px;
}

.droite{
    margin-left: auto!important;
}
img{
    width: 400px;
}
section{
    display: flex;
}
